body {
    background-color: #D4EDF7;
    margin: 0; 
    text-align: center; 
    font-family: sans-serif;
}
.HolyGrail {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {   
    display: flex;
    flex-grow: 1;
}
.menu{
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.infoSection{
    font-size: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}
.titoloInfo{
    flex-grow: 1;
}
.fotoInfo{
    flex-grow: 1;
    display: flex;
    flex-direction: row; 
}
.imageFotoInfo{
    align-self: center;
    border: 3px solid #347B98;
    margin-bottom: 10px;
    border-radius: 115px;
    width: 20%;
}
.tabellaInfo{
    display: flex;
    flex-direction: column;
}
.rigaTabellaInfo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 10px;
}
.fotoRiga{
   
    align-self: center;
    width: 30px;
    height: 30px;
    border: none;
}
footer {
    flex-grow: 1;
    background-color: #347B98;
    color: white;
    text-align: center;
    font-size: 1rem;
    border: 3px solid transparent;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.infoFooter{
    align-self: center;
}
header {
    background-color: #347B98;
    color: white;
    font-size: 1.8rem;
    padding: 0.1rem; 
    width: 100%;
    flex-grow: 1;
}
#contenitore {
    padding: 20px;
    width: 80%;
    margin: auto;
    border-style: outset;
    background-color: #347B98;
}
.detailInfo{
    background-color: #347B98;
    flex-grow: 2;
    border-style: outset;
}
.whitePlace{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 100;
    width: 98%;
    height: 50px;
    margin-top: 3%;  
}
textarea {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 100;
    width: 98%;
    height: 100px;
    margin-top: 3%;
    margin-bottom: 2%;
} 
#Send {
    background-color: #034f84;
    height: 50px;
    width: 150px;
    color: white;
    margin-bottom: 2%;
}
#Reset {
    background-color: #C21460;
    height: 50px;
    width: 150px;
    color: white;
}
.ulForm {
    background-color: #D4EDF7;
    list-style-type: none;
    height: 80px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 200px;
}
.liForm{  margin-top: 20%;}
.iconeFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icn{
    width: 70px;
}
li a {
    color: #C21460;
}
.ulHome{
    display: flex;
    list-style-type: none;
    font-size: 1.3rem;
}
.liHome{
    display: flex;
    flex-grow: 1; 
} 
